.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(28, 21, 61, 0.5);
  /* background-color: rgb(43, 40, 40); */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 999999;
  
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  width: 500px;
  /* background-color: #fff; */
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
  padding: 20px;
  border-radius: 8px;
  /* background-color: #27282c; */
  background-color: #3b3b41;

  /* background-color: #fff;
  max-width: 400px;
  text-align: center; */
  text-align: center;
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  /* margin: 0; */
  justify-content: center;
  align-items: center;
  background-color: #3b3b41;

  /* background-color: #fff; */


}

.modal-body {
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  /* background-color: #27282c; */
  background-color: #3b3b41;

  
}

/* .modal-button {
  background-color: red;
  color :#fff;
} */

.modal-content button {
  padding: 10px 20px;
  margin-right: 10px;
  /* color:#fff; */
  /* background: rgb(168, 48, 48); */
  font-weight: bold;
  border: #fff;
}

.modal-content button:last-child {
  margin-right: 0;
}

.modal p {
  background-color: inherit;
  /* background-color: #fff; */
}